.contentParent{
  background-size:cover;
  background-image: url('./Assets/IN-en-20240429-POP_SIGNUP_TWO_WEEKS-perspective_WEB_658a042e-62cf-473d-8da0-7b875f23e2ef_small.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: linear-gradient(80deg, black, transparent);
}